<div id="mpopupBox" class="mpopup" *ngIf="isShow=='open'">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" (click)="isShowModal('close')">×</span>
            <h2>{{mTitle}}</h2>
        </div>
        <div class="modal-body">
            <div [innerHTML]="mBody"></div> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>